$background-color: #282C34;
$text-main-color: #7DA5BF;
$text-accent-color: #C69A56;
$foreground-color: #21252B;
$blue: #61AFEF;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: $background-color;
    color: $text-main-color;
}

a {
    text-decoration: none;
}

.content-container {
    text-align: center;
    padding: 1em;
}

.content-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .button {
    margin: 0.5em;
  }
}

.hidden {
  display: none;
}
.shown {
  display: block;
}

.emphasis {
  color: $blue;
}

.button {
  display: block;
  padding: 0.5em;
  background-color: $foreground-color;
  color: $text-main-color;
  border-radius: 5px;
  &:hover {
    color: $text-accent-color
  }
}
