$background-color: #282C34;
$text-main-color: #7DA5BF;
$text-accent-color: #C69A56;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: $background-color;
    color: $text-main-color;
}

a {
    color: $text-main-color;
    &:hover {
      color: $text-accent-color;
    }
}

.content-container {
    text-align: center;
    padding: 1em;
}

.content-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    display: block;
    padding: 0 0.5em;
  }
}
